cryptography~=44.0.2
algorithms~=0.1.4
pbr~=6.1.1
setuptools~=77.0.3
pip~=25.0.1
attrs~=25.3.0
pillow~=11.1.0
docutils~=0.21.2
cffi~=1.17.1
dill~=0.3.9
numpy~=2.2.4
charset-normalizer~=3.4.1
pytz~=2025.1
overrides~=7.7.0
typing_extensions~=4.12.2
scipy~=1.15.2
threadpoolctl~=3.6.0
matplotlib~=3.10.1
mpmath~=1.3.0
sympy~=1.13.3
platformdirs~=4.3.7
symengine~=0.13.0
decorator~=5.2.1
psutil~=7.0.0
rustworkx~=0.16.0
stevedore~=5.4.1
pyspnego~=0.11.2
certifi~=2025.1.31
urllib3~=2.3.0
six~=1.17.0
python-dateutil~=2.9.0.post0
pydantic~=2.9.2
pydantic_core~=2.23.4
annotated-types~=0.7.0
idna~=3.10
packaging~=24.2
pycparser~=2.22
websocket-client~=1.8.0
Pygments~=2.19.1
requests_ntlm~=1.3.0
requests~=2.32.3
ibm-cloud-sdk-core~=3.23.0
PyJWT~=2.10.1
ibm-platform-services~=0.63.0